# Environment
*.env

# Virtual environment
venv/

# Logs
logs/

# Data
data/*/*.db/
data/*/*/*.db/

# Cache
*.pyc
__pycache__/
.pytest_cache/

# Recorder imgs
game_environment/recorder/*.png 

# Test experiments results
tests/experiment_notebooks/experiment_results/*.txt